{% extends 'base.html.twig' %}

{% block title %}Shoefony{% endblock %}

{% block body %}
	<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('shoefony_cms_homepage') }}">Shoe-fony</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('shoefony_cms_presentation') }}">Présentation</a>
                        </li>
                        <li>
                            <a href="{{ path('shoefony_store_homepage') }}">Nos produits</a>
                        </li>
                        <li>
                            <a href="{{ path('shoefony_cms_contact') }}">Contact</a>
                        </li>
                    </ul>

                    {{ render(controller('ShoefonyStoreBundle:Store:recherche')) }}

                    
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

	{% block contentBody %}{% endblock %}

    {% for flashmessage in app.session.getflashbag.get('notice') %}
    <div class="alert alert-success" role="alert">
        {{ flashmessage }}
    </div>

    {% endfor %}
{% endblock %}
