{% extends 'ShoefonyCmsBundle::Layout.html.twig' %}


{% block title %}
{% if brand %}
{{ parent() }} | {{ brand.title }}
{% else %}
{{ parent() }} | Tout les produits
{% endif %}
{% endblock %}

{% block contentBody %}
<!-- Page Content -->
        <div class="container">

            <div class="row">

	            {% include 'ShoefonyStoreBundle:Partial:marques.html.twig' with {'brands':brands, 'brand':brand} %}

	            <div class="col-md-9">

	            	<p class="lead">Nos produits " {% if brand %}{{ brand.title }}{% else %} Toutes les marques {% endif %} "</p>
	            	
	            	{{ render(controller('ShoefonyStoreBundle:Store:partialProducts', {'col':3, 'brand':brand, 'page':page})) }}

	            </div>

	        </div>

            <hr>
{% endblock %}